html {
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

.main {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

#box{
  width: 1000px;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 300;
}

.tabs {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

/* Tab buttons */
.tab-button {
  background-color: white;
  border: none;
  cursor: pointer;
  float: left;
  font-size: 16px;
  outline: none;
  padding: 10px 20px;
  transition: 0.3s;
}

/* Active tab button */
.tab-button.active {
  background-color: #12344d;
  color:white;
}

/* Tab content */
.tab-content {
  display: none;
  padding: 2px;
}

/* Active tab content */
.tab-content.active {
  display: block;
}




/* Message Input */
#tab1-tab-content__message-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  /*background-color: #f2f2f2;*/
}

.message-input__wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 10px;
}

.message-input__text {
  flex: 1;
  /*border: none;*/
  background-color: transparent;
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  margin-right: 10px;
}

.message-input__button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0084ff;
  color: white;
  border-radius: 5px;
  padding: 3px;

}

.message-input__button {
  border: none;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.message-input__send-button {
  border: none;
  background-color: #0084ff;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

.message-input__icon {
  font-size: 16px; /* adjust the size here */
}


#tab1-tab-content__message-view {
  height: 240px;
  background-color: #F6F7F9;
  border: 1px solid #D1D5D9;
  border-radius: 4px;
  padding: 10px;
  display:grid;
  overflow: auto;
  width: 100%;
}



/* Message bubbles */
.message-bubble {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.message-bubble__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.message-bubble__name {
  font-weight: bold;
  font-size: 0.8rem;
  margin-right: 10px;
}

.message-bubble__time {
  font-size: 12px;
  color: #777;
}

.message-bubble__text {
  background-color: #fff;
  border: 1px solid #D1D5D9;
  border-radius: 20px;
  padding: 10px;
  max-width: 90%;
}

.message-bubble__other_user {
  align-self: flex-start;
}

.message-bubble__my {
  align-self: flex-end;
}

.message-bubble__my .message-bubble__header {
  flex-direction: row-reverse;
}

.message-bubble__my .message-bubble__text {
  background-color: #4CAF50;
  color: white;
  border-color: #4CAF50;
  border-top-right-radius: 5px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-right: 5px;
  align-self: flex-end;
}

.message-bubble__my .message-bubble__time {
  margin-left: 5px;
  margin-right: 0;
}


/** Channels */
.channel-list {
  height: 300px;
  overflow-y: scroll;
  padding: 10px;
}

.channel-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #9b9ece;
  border-radius: 10px;
}

.channel-name {
  font-weight: bold;
  margin-right: 10px;
}

.ticket-status {
  font-size: 12px;
  color: #473bf0;
  margin-right: 10px;
}

.last-message {
  flex-grow: 1;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}



